*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI",sans-serif;
}

body {
    background-color: #f5f6fa;
    color: #333;
}

.page-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.primary-btn {
  background: #6a5acd;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.primary-btn:hover {
  background: #5a4acb;
}

